<%= form_for @gym, remote: true, html: {class: 'gym-form w-75 mx-auto p-3'} do |f| %>
    <div class='d-flex align-items-center'>
        <%= image_tag 'icon-hour.png', alt: 'Ícone de relógio', width: '30px', height: '30px', class: 'me-2' %>
        <p class='mb-0'>Horário</p>
    </div>
    <h2 class='mt-4'>Qual período quer treinar?</h2>
    <hr class='my-2'>

    <div class='d-flex form-check'>
        <%= radio_button_tag :day_period, "morning", false, class: 'form-check-input' %>
        <%= label_tag :day_period_morning, class: 'px-2 d-flex flex-grow-1 justify-content-between form-check-label' do %>
            <span>Manhã</span>
            <span>06:00 às 12:00</span>
        <% end %>
    </div>
    <hr class='my-2'>
    <div class='d-flex form-check'>
        <%= radio_button_tag :day_period, "afternoon", false, class:'form-check-input' %>
        <%= label_tag :day_period_afternoon, class: 'px-2 d-flex flex-grow-1 justify-content-between form-check-label' do %>
            <span>Tarde</span>
            <span>12:01 às 18:00</span>
        <% end %>
    </div>
    <hr class='my-2'>
    <div class='d-flex form-check'>
        <%= radio_button_tag :day_period, "evening", false, class: 'form-check-input' %>
        <%= label_tag :day_period_evening, class: 'px-2 d-flex flex-grow-1 justify-content-between form-check-label' do %>
            <span>Noite</span>
            <span>18:01 às 23:00</span>
        <% end %>
    </div>
    <hr class='my-2'>

    <div class="d-block d-md-flex justify-content-md-between align-items-center">
        <div class="mt-4 mb-0 form-check">
            <%= check_box_tag :show_closed_gyms, 1, false, class:'form-check-input' %>
            <%= label_tag :show_closed_gyms, 'Exibir unidades fechadas', class:'form-check-label' %>
        </div>
        <div class='mt-4'>
            <p class="mb-0">Resultados encontrados: <span id="gym-count">0</span></p>
        </div>
    </div>
    <div class="d-block d-md-none">
        <%= button_tag type:'submit', class:'w-100 mt-4 py-2 btn' do%>
            <p class='my-0'>ENCONTRAR<br>UNIDADE</p>
        <% end %>
        <%= button_tag 'LIMPAR', type:'button', class:'w-100 mt-4 py-2 btn clean-btn'%>
    </div>
    <div class="d-none d-md-flex flex-md-row justify-content-md-center">
        <%= button_tag type:'submit', class:'col-md mt-4 me-md-2 py-2 btn btn-expanded' do%>
            <p class='my-0'>ENCONTRAR UNIDADE</p>
        <% end %>
        <%= button_tag 'LIMPAR', type:'button', class:'col-md mt-4 ms-md-2 py-2 btn btn-expanded clean-btn'%>
    </div>
<% end %>

<div class="legend w-75 mx-auto my-3 p-4 row">
    <div class="col legend-group mt-4">
        <p class="text-center">Máscara</p>
        <div class="group-imgs-container d-flex justify-content-center">
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "required-mask.png", alt:"Required mask"%>
                <p>Obrigatório</p>
            </div>
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "recommended-mask.png", alt:"Recommended mask"%>
                <p>Recomendado</p>
            </div>
        </div>
    </div>
    <div class="col legend-group mt-4">
        <p class="text-center">Toalha</p>
        <div class="group-imgs-container d-flex justify-content-center">
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "required-towel.png", alt:"Required towel"%>
                <p>Obrigatório</p>
            </div>
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "recommended-towel.png", alt:"Recommended towel"%>
                <p>Recomendado</p>
            </div>
        </div>
    </div>
    <div class="col legend-group mt-4">
        <p class="text-center">Bebedouro</p>
        <div class="group-imgs-container d-flex justify-content-center">
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "partial-fountain.png", alt:"Partial fountain"%>
                <p>Parcial</p>
            </div>
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "forbidden-fountain.png", alt:"Forbidden fountain"%>
                <p>Proibido</p>
            </div>
        </div>
    </div>
    <div class="col legend-group mt-4">
        <p class="text-center">Vestiários</p>
        <div class="group-imgs-container d-flex justify-content-center">
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "required-lockerroom.png", alt:"Required locker room"%>
                <p>Liberado</p>
            </div>
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "partial-lockerroom.png", alt:"Partial locker room"%>
                <p>Parcial</p>
            </div>
            <div class="legend-img-container px-2 d-flex flex-column align-items-center">
                <%= image_tag "forbidden-lockerroom.png", alt:"Forbidden locker room"%>
                <p>Fechado</p>
            </div>
        </div>
    </div>
</div>

<div class="gym-list d-flex flex-wrap justify-content-start gap-3 w-75 mx-auto">
    <div class="gym-container mt-4 p-3">
        <div class="gym-container-header">
            <p class="opened-gym">Aberto</p>
            <h2>Vicente Linhares</h2>
            <p class="mb-0">Rua Tibúrcio Cavalcante, 1885 - Meireles</p>
            <p>Fortaleza, CE</p>
        </div>
        <hr>
        <div class="gym-container-body">
            <div class="gym-images-rules row">
                <%= image_tag 'required-mask.png', class:'col' %>
                <%= image_tag 'required-towel.png', class:'col' %>
                <%= image_tag 'partial-fountain.png', class:'col' %>
                <%= image_tag 'forbidden-lockerroom.png', class:'col' %>
            </div>
            <div class="gym-schedules mt-4 row">
                <div class="col-6 a-gym-schedule">
                    <h2>Seg. à Sex.</h2>
                    <p>06h às 22h</p>
                </div>
                <div class="col-6 a-gym-schedule">
                    <h2>Sáb.</h2>
                    <p>09h às 18h</p>
                </div>
                <div class="col-6 a-gym-schedule">
                    <h2>Dom.</h2>
                    <p>Fechada</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gym-container mt-4 p-3">
        <div class="gym-container-header">
            <p class="closed-gym">Fechado</p>
            <h2>Vila Carrão</h2>
            <p class="mb-0">Av. Guilherme Giorgi, 1460, Vila Carrão</p>
            <p>São Paulo - SP</p>
        </div>
    </div>
    <div class="gym-container mt-4 p-3">
        <div class="gym-container-header">
            <p class="opened-gym">Aberto</p>
            <h2>Vicente Linhares</h2>
            <p class="mb-0">Rua Tibúrcio Cavalcante, 1885 - Meireles</p>
            <p>Fortaleza, CE</p>
        </div>
        <hr>
        <div class="gym-container-body">
            <div class="gym-images-rules row">
                <%= image_tag 'required-mask.png', class:'col' %>
                <%= image_tag 'required-towel.png', class:'col' %>
                <%= image_tag 'partial-fountain.png', class:'col' %>
                <%= image_tag 'forbidden-lockerroom.png', class:'col' %>
            </div>
            <div class="gym-schedules mt-4 row">
                <div class="col-6 a-gym-schedule">
                    <h2>Seg. à Sex.</h2>
                    <p>06h às 22h</p>
                </div>
                <div class="col-6 a-gym-schedule">
                    <h2>Sáb.</h2>
                    <p>09h às 18h</p>
                </div>
                <div class="col-6 a-gym-schedule">
                    <h2>Dom.</h2>
                    <p>Fechada</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gym-container mt-4 p-3">
        <div class="gym-container-header">
            <p class="closed-gym">Fechado</p>
            <h2>Vila Carrão</h2>
            <p class="mb-0">Av. Guilherme Giorgi, 1460, Vila Carrão</p>
            <p>São Paulo - SP</p>
        </div>
    </div>
    <div class="gym-container mt-4 p-3">
        <div class="gym-container-header">
            <p class="opened-gym">Aberto</p>
            <h2>Vicente Linhares</h2>
            <p class="mb-0">Rua Tibúrcio Cavalcante, 1885 - Meireles</p>
            <p>Fortaleza, CE</p>
        </div>
        <hr>
        <div class="gym-container-body">
            <div class="gym-images-rules row">
                <%= image_tag 'required-mask.png', class:'col' %>
                <%= image_tag 'required-towel.png', class:'col' %>
                <%= image_tag 'partial-fountain.png', class:'col' %>
                <%= image_tag 'forbidden-lockerroom.png', class:'col' %>
            </div>
            <div class="gym-schedules mt-4 row">
                <div class="col-6 a-gym-schedule">
                    <h2>Seg. à Sex.</h2>
                    <p>06h às 22h</p>
                </div>
                <div class="col-6 a-gym-schedule">
                    <h2>Sáb.</h2>
                    <p>09h às 18h</p>
                </div>
                <div class="col-6 a-gym-schedule">
                    <h2>Dom.</h2>
                    <p>Fechada</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gym-container mt-4 p-3">
        <div class="gym-container-header">
            <p class="closed-gym">Fechado</p>
            <h2>Vila Carrão</h2>
            <p class="mb-0">Av. Guilherme Giorgi, 1460, Vila Carrão</p>
            <p>São Paulo - SP</p>
        </div>
    </div>
    <div class="gym-container mt-4 p-3">
        <div class="gym-container-header">
            <p class="opened-gym">Aberto</p>
            <h2>Vicente Linhares</h2>
            <p class="mb-0">Rua Tibúrcio Cavalcante, 1885 - Meireles</p>
            <p>Fortaleza, CE</p>
        </div>
        <hr>
        <div class="gym-container-body">
            <div class="gym-images-rules row">
                <%= image_tag 'required-mask.png', class:'col' %>
                <%= image_tag 'required-towel.png', class:'col' %>
                <%= image_tag 'partial-fountain.png', class:'col' %>
                <%= image_tag 'forbidden-lockerroom.png', class:'col' %>
            </div>
            <div class="gym-schedules mt-4 row">
                <div class="col-6 a-gym-schedule">
                    <h2>Seg. à Sex.</h2>
                    <p>06h às 22h</p>
                </div>
                <div class="col-6 a-gym-schedule">
                    <h2>Sáb.</h2>
                    <p>09h às 18h</p>
                </div>
                <div class="col-6 a-gym-schedule">
                    <h2>Dom.</h2>
                    <p>Fechada</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gym-container mt-4 p-3">
        <div class="gym-container-header">
            <p class="closed-gym">Fechado</p>
            <h2>Vila Carrão</h2>
            <p class="mb-0">Av. Guilherme Giorgi, 1460, Vila Carrão</p>
            <p>São Paulo - SP</p>
        </div>
    </div>
</div>
